/* css/style.css */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght=400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: #f8fafc;
    color: #334155;
}

/* تنسيق الزر الأخضر عند نجاح التقاط الموقع */
.btn-gps-success {
    background-color: #2dc937 !important; /* لون أخضر حيوي */
    color: white !important;
    border-color: #2dc937 !important;
    transition: all 0.3s ease;
}